@inherits NBrightBuy.NBrightBuyOpenUrlRewriter.render.RazorTokens<NBrightDNN.NBrightRazor>
@using System.Globalization
@using System.Linq
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuyOpenUrlRewriter/App_LocalResources/")

@{
    // assign Model, so we can resolve var in VS
    var product = (ProductData)Model.List.First();
    var info = (NBrightInfo)product.Info;
}


<div>
</div>

